name: pr

on: push

jobs:
  tests-no-gradle:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c #v3.3.0
      - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b #v3.9.0
        with:
          distribution: 'temurin'
          java-version: 17
      - name: build
        run: |
          ./server/gradlew -p server runServer&
          sleep 10
          cd test.ws
          xcodebuild -scheme test.ws  build SYMROOT=.
          ./Debug/test.ws 
